/* Global Variables, Mostly Will Using it */
:root {
  --main-color: ;
  --transparent-main-color: ;
  --secondary-color: ;
}
:root {
  /* --will-use-this-color-in-another-template: #5aed9d; */
  --main-color: #2196f3;
  --transparent-main-color-70-percent: #2195f3b3;
  --main-color-alt: #1787e0;
  --main-transition-duration: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
@media (max-width:767px) {
  :root{
    --main-padding-top: 50px;
    --main-padding-bottom: 50px;
  }
}
/* End Global Variables */
/* Import Local Font ( Sriracha Regular font ) */

@font-face {
  font-family: CairoPlay; 
  src: url(../fonts/CairoPlay-VariableFont_slnt\,wght.ttf)
}
.five {
  font-family: CairoPlay;
  font-size: 25px;
}
*::selection {
  background-color: var(--main-color);
  color: black;
}
html {
  scroll-behavior: smooth;
}
/* Call The Font to Make it Working on all elements, Using Box Sizzing and prefixes */
body {
  font-family: CairoPlay;
}
button{
  cursor: pointer;
}
a{
  text-decoration: none;
}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
/* Small Screen  */
@media (min-width: 768px) {
  .container {
    width: calc(100% - 15px);
    padding: 0 15px;
    margin: 0 auto;
  }
}
/* Medium Screen  */
@media (min-width: 992px) {
  .container {
    width: calc(100% - 15px);
    margin: 0 auto;
    padding: 0 30px;
  }
}
/* Large Screen  */
@media (min-width: 1200px) {
  .container {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 0 50px;
  }
}
/* Start Components */ 

/* Start Back To Top button  */
.back-top-btn{
  position: fixed;
  bottom: 25px;
  right: 30px;
  background-color: #e8e8e8eb;
  padding: 15px;
  border-radius: 50%;
  z-index: 9909;
  background: linear-gradient(270deg, #b8cbb8, #b465da, #cf6cc9, #ee609c);
  background-size: 800% 800%;
  animation: back-to-top-background 5s ease infinite;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes back-to-top-background {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.back-top-btn i {
  color: var(--main-color);
  color: white;
  font-size: 28px;
  transition-duration: .3s;
  animation: go-top .5s infinite linear;
}
@keyframes go-top {
  0%{
    transform: translateY(2px);
  }
  35%{
    transform: translateY(-6px);
  }
  75%{
    transform: translateY(-6px);
  }
  100%{
    transform: translateY(0);
  }
}

.back-top-btn:hover i{
  /* transform:scale(1.3) translateY(-2px) ; */
  color: white;
} 
@media (max-width:520px) {
  .back-top-btn {
    width: 35px;
    height: 35px;
  }
  .back-top-btn i {
    font-size: 15px;
  }
  
}
/* End Back To top Button */
div.main-title-div{
  padding-top: 50px;
}
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  border-radius:5px ;
}
@media (max-width:420px) {
  h2.main-title{
    font-size: 18px;
  }
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
@media (max-width:420px) {
  .main-title::before {
    left: -20px;
  }
  .main-title::after {
    right: -20px;
  }
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 55%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 55%;
    height: 100%;
  }
}
/* The Second Component */
span.red-color {
  color: red;
  font-weight: bold;
  animation: ch-color 7s linear infinite;
}
@keyframes ch-color {
  0%{
    color: red;
  }
  50%{
    color: var(--main-color);
  }
  100%{
    color: red;
  }
}
/* End Components */
/* Start Header Section  */
header {
  position: relative;
  z-index: 100;
  background-color: var(--section-background);
}
header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  /* box-shadow: 0 3px 10px #ddd; */
  box-shadow:0 0 30px 4px #d7d7d7;
  background-color: white;
  border-radius: 10px;
  position: relative;
  top: 5px;
}
header .container .logo {
  display: flex;
  height: 100%;
  align-items: center;
}
header .container .logo h2{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 28px;
  color: var(--main-color);
}
header .container .links {
  max-height: 72px;
}
header .container .links .nav-ul {
  display: flex;
  max-height: 72px;
  /* overflow: hidden; */
}
header .container .links .nav-ul .nav-ul-li{
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  overflow: hidden;
  height: 72px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

header .container .links .nav-ul .nav-ul-li::before {
  content: '';
  position: absolute;
  width: 100%;
  background-color: var(--main-color);
  height: 3px;
  top: 1px;
  left: -100%;
  transition-duration: var(--main-transition-duration);
}
header .container .links .nav-ul .nav-ul-li .nav-ul-li-a{
  display: block;
  color: black;
  font-weight: normal;
  font-size: 17px;
  transition-duration: var(--main-transition-duration);
}
header .container .links .nav-ul .nav-ul-li:hover {
  background-color: #ececec4f;
}
header .container .links .nav-ul .nav-ul-li:hover .nav-ul-li-a{
  color: var(--main-color);
}
header .container .links .nav-ul .nav-ul-li:hover::before{
  left: 0;
}
/*Start mega menu  */
header .container .links .nav-ul .last-li{
  overflow: hidden;
}
header .container .links .nav-ul .last-li:hover{
  overflow: visible;
}
header .container .links .nav-ul .last-li:hover .mega-menu {
  opacity: 1;
  z-index: 999;
  top: 75px;
}
.mega-menu{
  transition-duration: .4s;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  /* width: 60vw; */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border-bottom: 4px solid var(--main-color);
  position: absolute;
  top: 80px;
  top: 120px;
  right: 0;
  z-index: -1;
  opacity: 0;
}
@media (max-width:430px) {
  .mega-menu {
    width: 280px;
  }
  .mega-menu .links-of-sections li {
    font-size: 14px;
  }
}
@media (min-width:431px) {
  .mega-menu {
    width: 300px;
  }
  .mega-menu .links-of-sections li {
    font-size: 16px;
  }
}
@media (min-width:768px) {
  .mega-menu {
    width: 650px;
  }
  .mega-menu .links-of-sections li {
    font-size: 17px;
  }
}
.mega-menu .mega-img{
  width: 30%;
}
.mega-menu .mega-img img{
  max-width: 100%;
}
.mega-menu .links-of-sections li{
  padding: 10px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  transition-duration: .5s;
}
.mega-menu .links-of-sections li:hover{
  /* background-color: #ffffff7d;
  background-color: #ecececa3; */
  border-radius: 5px;
}

.mega-menu .links-of-sections li::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0%;
  background-color: var(--main-color);
  transition-duration: .5s;
}
.mega-menu .links-of-sections li:hover::before{
  left: 0;
  width: 100%;
}
.mega-menu .links-of-sections li::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  left: 50%;
  top: 0;
  z-index: -1;
  background-color: #ecececa3;
  transition-duration: .5s;
}
.mega-menu .links-of-sections li:hover::after{
  width: 100%;
  left: 0;
}
.mega-menu .links-of-sections li a{
  color: var(--main-color);
}
.mega-menu .links-of-sections li a i{
  color: var(--main-color);
  margin: 0 5px;
}
@media (max-width:767px) {
  .mega-menu {
    display: block;
  }
  .mega-menu .mega-img {
    display: none;
  }
  .mega-menu .links-of-sections {
    caret-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mega-menu .links-of-sections li {
    padding: 10px;
    position: relative;
    overflow: hidden;
    transition-duration: .5s;
    width: 100%;
  }
}
/*end mega menu  */


/* Make Header Responsive in Tablet, Mobiles Screens */
@media (max-width:767px) {
  header .container {
    height: auto;
  }
  header .container .logo {
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    position: relative;
  }
  header .container .logo::before{
    content: '';
    position: absolute;
    width: 30%;
    margin: auto;
    height: 2px;
    background-color:#ddd;
    bottom: -30%;
  }
  header .container .links{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65px;
  }
  header .container .links .nav-ul .nav-ul-li .nav-ul-li-a {
    font-size: 14px;
  }
}
@media (max-width:550px) {
  header .container .links .nav-ul .nav-ul-li .nav-ul-li-a {
    font-size: 13px !important;
    text-align: center;
  }
  header .container .links .nav-ul .nav-ul-li{
    font-size: 8px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}
/* End Header Section  */
/* Start Landing Section */
.landing {
  height: calc(100vh - 135px);
}
.landing::before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100vh - 77px);
  background-color: var(--section-background);
  transform: skewY(-6deg) translateY(-105px);
  position: absolute;
  z-index: -1;
}

@media (max-width:767px) {
  .landing::before {
    height: calc(100vh - 133px);
    transform: skewY(-8deg) translateY(-55px);
  }
}
.landing .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  height: calc(100vh - 133px);
}
@media (max-width:767px) {
  .landing .container {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .landing .container .text{
    padding-bottom: 40px;
  }
}
.landing .container .text{
  width: 39%;
  text-align: center;
}
.landing .container .text h3 {
  margin: 20px auto;
}

.landing .container .text p {
  line-height: 1.5;
  color: #444;
}
@media (max-width:767px) {

  .landing .container .text{
    width: 70%;
  }
  .landing .container .text h3 {
    font-size: 24px;
    padding: 20px 0;
  }
  .landing .container .text p {
    font-size: 14px;
  }
}
.landing .container img{
  max-width: 100%;
  width: 50%;
  position: relative;
  animation: up-and-down 3s linear infinite;
}
@media (max-width:550px) {
  .landing .container img {
    width: 70%;
  }
}
@keyframes up-and-down {
  0%{
    top: 30px;
  }
  50%{
    top: 0;
  }
  100%{
    top: 30px;
  }

}
.landing .go-down {
  position: absolute;
  color:var(--main-color) ;
  font-size: 25px;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: .3s ;
}
.landing .go-down:hover{
  color:red;
}
.landing .go-down i {
  animation: go-down 1.5s infinite linear;
}
@keyframes go-down {
  0%,
  10%,
  20%,
  30%,
  40%, 
  50%,
  70%,
  80%{
    transform: translateY(5px);
  }
  60%,
  95%{
    transform: translateY(-25px);
  }
  100%{
    transform: translateY(5px);
  }
}
/* End Landing Section */
/* Start Articles Section */
.articles{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .container .box-of-all-imgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (min-width:1300px) {
  .articles .container .box-of-all-imgs {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (min-width:1800px) {
  .articles .container .box-of-all-imgs {
    grid-template-columns: repeat(4, minmax(350px, 1fr));
  }
  
}
.articles .container .box-of-all-imgs .box-img {
  margin: 15px;
  box-shadow: 0 0 10px 4px #ddd;
  box-shadow: 0 0 10px 4px #ececec;
  border-radius: 10px;
  overflow: hidden;
  transition-duration: var(--main-transition-duration);
}
.articles .container .box-of-all-imgs .box-img:hover{
  transform: translateY(-15px);
  box-shadow: 0 0 20px #1786e098;
}
.articles .container .box-of-all-imgs .box-img img{
  max-width: 100%;
}
.articles .container .box-of-all-imgs .box-img .contect{
  padding: 10px;
}
.articles .container .box-of-all-imgs .box-img .contect h4{
  font-size: 22px;
  margin: 5px 0;
}
.articles .container .box-of-all-imgs .box-img .contect p{
  color: #555;
  line-height: 1.5;
}
.articles .container .box-of-all-imgs .box-img .info{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .container .box-of-all-imgs .box-img .info a{
  color: var(--main-color);
  padding: 10px;
  border-radius: 6px;
  background-color: #ececec61;
}
.articles .container .box-of-all-imgs .box-img .info i{
  padding-right: 10px;
}
.articles .container .box-of-all-imgs .box-img:hover .info i{
  animation: go-right .9s infinite;
  color: var(--main-color);
}
.articles .container .box-of-all-imgs .box-img .info:hover i{
  color: var(--main-color);
  animation: go-right .9s infinite;
}
@keyframes go-right {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);
  }
}
/* End Articles Section */
/* Start Gallery Section */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (min-width:1060px) {
  .gallery .container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (min-width:1500px) {
  .gallery .container {
    grid-template-columns: repeat(3, minmax(350px, 1fr));
  }
}
.gallery .container .images {  
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  margin: 15px;
  overflow: hidden;
  border: 20px solid white;
  transition-duration: .3s;
}
.gallery .container .images:hover{
  box-shadow: 0 0 10px 2px #fff;
}
.gallery .container .images:hover img{
  transform: scale(1.1) rotate(5deg);
}
.gallery .container .images img {
  max-width: 100%;
  transition-duration: .3s;
}
/* End Gallery Section */
/* Start Features  Section */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(270px, 330px));
  justify-content: center;
}
@media (min-width:1450px) {
  .features .container {
    grid-template-columns: repeat(3, minmax(270px, 330px));
  }
}
.features .container .main-box{
  margin: 15px;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px #ececec;
  transition-duration: .3s;
  border: 1px solid #eee;
}

.features .container .main-box:hover{
  transform: translateY(-15px);
  box-shadow: 0 0 10px 5px #ddd;
}
.features .container .main-box .img-box{
  position: relative;
  transition-duration: .3s;
  overflow: hidden;
}
.features .container .main-box .img-box-1::before{
  background-color: hsla(120, 83%, 43%, 0.45);
}
.features .container .main-box .img-box-2::before{
  background-color: rgba(255, 0, 0, 0.45);
}
.features .container .main-box .img-box-3::before{
  background-color: rgba(34, 34, 226, 0.4);
}
.features .container .main-box .img-box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition-duration: .3s;
}
.features .container .main-box:hover .img-box::before{
  background-color: transparent;
}
.features .container .main-box .img-box::after{
  content: "";
  position: absolute;
  width: 150%;
  background-color: white;
  height: 50%;
  z-index: 5;
  bottom: -40px;
  left: 0;
  transform: rotate(-20deg);
  transition-duration: .3s;
}
.features .container .main-box:hover .img-box::after{
  height: 50%;
  z-index: 5;
  bottom: -52px;
  left: -120px;
  transform: rotate(20deg);
}


.features .container .main-box .img-box img{
  max-width: 100%;
}
.features .container .main-box .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features .container .main-box .info h4 {
  margin: 10px auto;
  padding: 5px;
  font-size: 22px;
  position: relative;
}
.features .container .main-box .info h4::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 3px ;
  transform: translateX(-50%);
  transition-duration: .3s;
}
.features .container .main-box:hover .info h4::before{
  width: 120%;
}
.features .container .main-box .img-box-1 ~ .info h4::before {
  background-color: rgb(20, 219, 20);
}
.features .container .main-box .img-box-2 ~ .info h4::before {
  background-color: rgb(219, 20, 20);
}
.features .container .main-box .img-box-3 ~ .info h4::before {
  background-color: rgb(50, 20, 219);
}
.features .container .main-box .info p{
  line-height: 1.5;
  margin: 10px auto;
  padding: 5px;
  font-weight: normal;
  color:#555 ;
}
.features .container .main-box .info button{
  text-align: center;
  border: 1px solid red;
  font-weight: normal;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px auto 15px;
  background-color: transparent;
  transition-duration: .3s;
  font-weight: bold;
}

.features .container .main-box .img-box-1 ~ .info button{
  border:1px solid rgb(20, 219, 20);
}
.features .container .main-box .img-box-1 ~ .info button:hover{
  color: white;
  border:1px solid white;
  background-color:rgb(20, 219, 20);
}
.features .container .main-box .img-box-2 ~ .info button{
  border:1px solid rgb(219, 20, 20);
}
.features .container .main-box .img-box-2 ~ .info button:hover{
  background-color: rgb(219, 20, 20);
  color: white;
  border:1px solid white;
}

.features .container .main-box .img-box-3 ~ .info button{
  border:1px solid rgb(50, 20, 219);
}
.features .container .main-box .img-box-3 ~ .info button:hover{
  background-color:  rgb(50, 20, 219);
  background-color:  rgb(50, 20, 219);
  color: white;
}
/* End Features Section */
/* Start Testimonials Section */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px , 400px));
  justify-content: center;
  justify-items: center;
}
@media (max-width:1100px) {
  .testimonials .container {
    grid-template-columns: repeat(auto-fill, minmax(150px , 400px));
}
}
.testimonials .container .person-box{
  margin: 15px;
  background-color: white;
  position: relative;
  border-radius: 7px;
  transition-duration: .3s;
}
.testimonials .container .person-box:hover {
  transform: translateY(-10px) scale(1.05);
}
.testimonials .container .person-box .heading-details {
  padding: 15px;
}
.testimonials .container .person-box .heading-details h3 {
  font-size: 19px;
  padding-bottom: 10px;
}
.testimonials .container .person-box .heading-details p {
  font-size: 14px;
  padding-bottom: 5px;
}
.testimonials .container .person-box .heading-details .stars-container{
  font-size: 13px;
  cursor: default;
}
.testimonials .container .person-box .heading-details .stars-container i.empty {
  color: #0000009d;
}
.testimonials .container .person-box .heading-details .stars-container i.filled {
  color: gold;
}
.testimonials .container .person-box .description-text {
  padding: 15px;
  padding-right: 7px;

}
.testimonials .container .person-box .description-text p{
  color: #555;
  line-height: 1.35;
}
.testimonials .container .person-box .person-photo {
  min-width: 70px;
  max-width: 90px;
  position: absolute;
  top: -35px;
  top: -45px;
  right: 0;
  border: 5px solid var(--section-background);
  border-radius: 50%;
  overflow: hidden;
  background-color: gold;
}
.testimonials .container .person-box .person-photo img{
  max-width: 100%;
  background-color: red;
}
/* End Testimonials Section */
/* Start Team Members Section */
.team-members{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.team-members .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}
@media (min-width:1350px) {
  .team-members .container{
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
.team-members .container .main-box{
  position: relative;
  margin: 20px;
}
.team-members .container .main-box::before{
  position: absolute;
  content: "";
  width: calc(100% - 60px);
  height: 100%;
  background-color: #f3f3f3;
  z-index: -2;
  right: 0;
  top: 0;
  border-radius: 10px;
}
.team-members .container .main-box::after{
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: #e4e4e4;
  z-index: -1;
  right: 0;
  top: 0;
  border-radius: 10px;
  transition-duration: .3s;
}
.team-members .container .main-box:hover:after{
  width: calc(100% - 60px);
}
.team-members .container .main-box .img-and-icons{
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team-members .container .main-box .img-and-icons .img-box img{
  max-width: 100%;
  border-radius: 10px;
  transition-duration: .3s;
}
.team-members .container .main-box:hover .img-and-icons .img-box img {
  filter: grayscale(100%);
}
.team-members .container .main-box .img-and-icons .social-links{
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-members .container .main-box .img-and-icons .social-links a{
  display: block;
  width: 50px;
  text-align: center;
  padding: 5px 0;
  margin: 5px;
  transition-duration: .3s;
  color: #555;
}
.team-members .container .main-box .img-and-icons .social-links a:hover{
  background-color: #ffffff67;
  color: var(--main-color);
  border-radius: 7px;
}
.team-members .container .main-box .img-and-icons .social-links a:hover:last-child{
  color: red;
}
.team-members .container .main-box .img-and-icons .social-links a:hover:nth-child(2){
  color:black ;
}
.team-members .container .main-box .data{
  padding-left: 80px;
}
.team-members .container .main-box .data h4{
  margin: 10px 0;
  font-size: 22px;
  color:var(--main-color);
  transition-duration: .3s;
}
.team-members .container .main-box:hover .data h4 {
  color: #555;
}
.team-members .container .main-box .data p{
  margin-bottom: 10px;
  color: #555;
}
/* End Team Members Section */
/* Start Services Section */
.services{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.services .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (min-width:1070px) {
  .services .container{
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: center;
  }
}
.services .container .srv-box{
  height: 250px;
  margin: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  /* box-shadow: 0 0 15px #c7c7c7; */
  transition-duration: .3s;
}
.services .container .srv-box:hover{
  transform: translateY(-15px);
  scale: 1.03;

}
.services .container .srv-box .icon-and-title{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.services .container .srv-box .icon-and-title::before{
  position: absolute;
  content: '';
  top: 0px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition-duration: .5s;
}
.services .container .srv-box:hover .icon-and-title::before{
  left: 0;
  width: 100%;
}
.services .container .srv-box .icon-and-title i{
  font-size: 50px;
  margin: 15px 0;
  color: #ddd;
}
.services .container .srv-box .icon-and-title h3{
  font-size: 27px;
  margin: 10px 0;
  color: var(--main-color);

}
.services .container .srv-box .num-paragraph{
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: #f9f9f9;
}
.services .container .srv-box .num-paragraph::before{
  content: '';
  position: absolute;
  left: -10%;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transform: skewX(-40deg);
}
.services .container .srv-box .num-paragraph::after{
  content: '';
  position: absolute;
  left: -10%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #ddd;
  z-index: -2;
  transform: skewX(-40deg);
}
.services .container .srv-box .num-paragraph p:first-child{
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding-left: 10px;
}
.services .container .srv-box .num-paragraph p:last-child{
  padding: 8px 12px;
  transition-duration: .5s;
  color: var(--main-color);
  cursor: pointer;
  margin-right: 5px;
  border-radius: 12px;
}
.services .container .srv-box .num-paragraph p:last-child:hover{
  background-color: #dddddd59;
}
/* End Services Section */
/* Start Skills Section */
.skills{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.skills .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:767px) {
  .skills .container{
    flex-direction: column;
  }
}
.skills .container .img-box{
  width: 50%;
  text-align: center;
}
.skills .container .img-box img{
  max-width: 100%;
  
}
.skills .container .skills-list{
  width: 80%;
  position: relative;
}
.skills .container .skills-list div{
  position: relative;
  overflow: hidden;
  cursor: default;
}
.skills .container .skills-list div h5{
  text-transform: uppercase;
  font-size: 20px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.skills .container .skills-list div h5 i{
  font-size: 24px;
  padding-right:10px;
}
.skills .container .skills-list div h5 i.fa-html5 {
  color: rgb(238, 45, 45);
}
.skills .container .skills-list div h5 i.fa-css3-alt {
  color: rgb(29, 29, 240);
}
.skills .container .skills-list div h5 i.fa-js {
  color: rgb(226, 196, 25);
}
.skills .container .skills-list div h5 i.fa-node-js {
  color:green;
}

.skills .container .skills-list div h5 i.fa-react{
  color: var(--main-color);
}
.skills .container .skills-list div span{
  display: block;
  height: 20px;
  background-color: var(--main-color);
  width: 100%;
  position: relative;
  border-radius: 5px;
}
.skills .container .skills-list div span:before{
  content: attr(data-progress);
  position: absolute;
  right: -15px;
  top: -35px;
  background-color: #ddd;
  font-weight: bold;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  font-family: cursive;
  color: var(--main-color);
  font-size: 14px;
}
.skills .container .skills-list div::before {
  content: '';
  width: 100%;
  height: 20px;
  background-color: #ddd;
  bottom: 0;
  position: absolute;
  border-radius: 5px;
}
/* End Skills Section */
/* Start How It Works Section */
.how-it-works{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.how-it-works .main-title span {
  font-family: cursive;
  font-weight: bold;
}
.how-it-works .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.how-it-works .container .main-img-box{
  width: 50%;
  width: 400px;
}
@media (max-width:767px) {
  .how-it-works .container .main-img-box{
    display: none;
  }
}
.how-it-works .container .main-img-box img{
  max-width: 70%;
  width: 320px;
}
.how-it-works .container .main-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 30px 0;
}
@media (max-width:767px) {
  .how-it-works .container .main-box {
    width: 80%;
  }
}
.how-it-works .container .main-box .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 18px 20px #dddddd;
  transition-duration: .3s;
}
.how-it-works .container .main-box .box:hover{
  transform: translateY(-10px) scale(1.03);
}
.how-it-works .container .main-box .box .image-box{
  width: 210px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-it-works .container .main-box .box .image-box img{
  max-width: 100%;
}
@media (max-width:767px) {
  .how-it-works .container .main-box .box .image-box img{
    width: 70px;
  }
}
.how-it-works .container .main-box .box .info{
  margin: 0 10px;
}
.how-it-works .container .main-box .box .info h5{
  
  font-size: 22px;
  margin: 7px 0;
}
.how-it-works .container .main-box .box .info p{
  line-height: 1.4;
  color: #555;
}
@media (max-width:767px) {
  .how-it-works .container .main-box .box .info p {
    font-size: 13px;
  }
}
/* End How It Works Section */