/* Global Variables, Mostly Will Using it */
:root {
  --main-color: ;
  --transparent-main-color: ;
  --secondary-color: ;
}
:root {
  /* --will-use-this-color-in-another-template: #5aed9d; */
  --main-color: #2196f3;
  --transparent-main-color-70-percent: #2195f3b3;
  --main-color-alt: #1787e0;
  --main-transition-duration: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
/* End Global Variables */
/* Import Local Font ( Sriracha Regular font ) */

@font-face {
  font-family: CairoPlay; 
  src: url(../fonts/CairoPlay-VariableFont_slnt\,wght.ttf)
}
.five {
  font-family: CairoPlay;
  font-size: 25px;
}
*::selection {
  background-color: var(--main-color);
  color: black;
}
html {
  scroll-behavior: smooth;
}
/* Call The Font to Make it Working on all elements, Using Box Sizzing and prefixes */
body {
  font-family: CairoPlay;
}
button{
  cursor: pointer;
}
a{
  text-decoration: none;
}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
/* Small Screen  */
@media (min-width: 768px) {
  .container {
    width: calc(100% - 15px);
    padding: 0 15px;
    margin: 0 auto;
  }
}
/* Medium Screen  */
@media (min-width: 992px) {
  .container {
    width: calc(100% - 15px);
    margin: 0 auto;
    padding: 0 30px;
  }
}
/* Large Screen  */
@media (min-width: 1200px) {
  .container {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 0 50px;
  }
}
/* Start Components */ 
h2.special-heading {
  position: relative;
  text-align: center;
  margin: 50px auto;
  border: 2px solid var(--main-color);
  width: fit-content;
  padding: 10px;
  transition-duration: .3s ;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: default;
}
@media (max-width:420px) {
  h2.special-heading{
    font-size: 18px;
  }
}

h2.special-heading::before{
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 35%;
  left: -25px;
  background-color: var(--main-color);
  transition-duration: .5s;
  z-index: -1;
}
h2.special-heading:hover::before{
  top: 0;
  left: 0;
  width: 55%;
  border-radius: 0px;
  height: 100%;
}
h2.special-heading::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 35%;
  right: -25px;
  background-color: var(--main-color);
  transition-duration: .5s;
  z-index: -1;
}
h2.special-heading:hover::after{
  top: 0;
  right: 0;
  width: 55%;
  border-radius: 0px;
  height: 100%;
}
h2.special-heading:hover{
  color: white;
  transition-delay: .5s;
  background-color: var(--main-color);
  border-color: white;
  box-shadow: 0 0 2px var(--main-color);
}
/* End Components */
/* Start Header Section  */
header {
  margin-top: 5px;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  box-shadow: 0 3px 10px #ddd;
}
header .container .logo {
  display: flex;
  height: 100%;
  align-items: center;
}
header .container .logo h2{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 28px;
  color: var(--main-color);
}
header .container .links {
  max-height: 72px;
}
header .container .links ul {
  display: flex;
  max-height: 72px;
}
header .container .links ul li {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  overflow: hidden;
  height: 72px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .container .links ul li::before {
  content: '';
  position: absolute;
  width: 100%;
  background-color: var(--main-color);
  height: 3px;
  top: 1px;
  left: -100%;
  transition-duration: var(--main-transition-duration);
}
header .container .links ul li a{
  display: block;
  color: black;
  font-weight: normal;
  font-size: 17px;
  transition-duration: var(--main-transition-duration);
}
header .container .links ul li:hover {
  background-color: #ececec4f;
}
header .container .links ul li:hover a{
  color: var(--main-color);
}
header .container .links ul li:hover::before{
  left: 0;
}
/* Make Header Responsive in Tablet, Mobiles Screens */
@media (max-width:767px) {
  header .container {
    height: auto;
  }
  header .container .logo {
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    position: relative;
  }
  header .container .logo::before{
    content: '';
    position: absolute;
    width: 70%;
    margin: auto;
    height: 2px;
    background-color:#ddd;
    bottom: -30%;
  }
  header .container .links{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65px;
  }
  header .container .links ul li a {
    font-size: 14px;
  }
}
@media (max-width:550px) {
  header .container .links ul li a {
    font-size: 13px !important;
    text-align: center;
  }
  header .container .links ul li{
    font-size: 8px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}
/* End Header Section  */
/* Start Landing Section */

/* End Landing Section */